
<header class="hero">
  <div class="row">
    <div class="col col--12-12">
      <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    </div>
</div>
</header>
 <section class="bobbett">
  <div class="bobbetts one">Design</div>
  <div class="bobbetts two">Writing</div>
  <div class="bobbetts three">Video</div>
</section>
<!--
<section class="row bullets">
  <div class="col col--4-of-12">
    <div class="bullet one"></div>
    <h2>Design</h2>
  </div>
  <div class="col col--4-of-12">
    <div class="bullet two"></div>
    <h2>Writing</h2>
  </div>
  <div class="col col--4-of-12">
    <div class="bullet three"></div>
    <h2>Video</h2>
  </div>
</section> -->
