

.top-nav
  background: $brand
  height: $nav-height
  line-height: $nav-height
  ul
    list-style-type: none
    margin: 0
    li
      display: inline-block

  a
    color: white
    text-decoration: none
    padding: 1.4rem 1rem
    height: $nav-height
    &:hover
      background: $brand-light
